In [14]:
import pandas as pd
import numpy as np

In [23]:
school_data_to_load = "/Users/analiesekornely/Documents/Bootcamp/UTAUS201810DATA2/Pandas/Homework/Instructions/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "/Users/analiesekornely/Documents/Bootcamp/UTAUS201810DATA2/Pandas/Homework/Instructions/PyCitySchools/Resources/students_complete.csv"
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [120]:
total_schools = school_data_complete["school_name"].unique()
len(total_schools)

15

In [122]:
total_students = school_data_complete["student_name"].count()
total_students = total_students.astype(int)
total_students

39170

In [124]:
# I couldn't get the currency formatting to work
total_budget = school_data["budget"].sum()
#total_budget = total_budget.map("${:.2f}".format)
total_budget

24649428

In [133]:
budget_stu = total_budget/total_students
budget_stu

629.2935409752362

In [125]:
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [126]:
avg_read = school_data_complete["reading_score"].mean()
avg_read

81.87784018381414

In [127]:
pass_math = school_data_complete.loc[school_data_complete["math_score"]>=70]
pass_math_percent = (pass_math["math_score"].count()/total_students)*100
pass_math_percent

74.9808526933878

In [128]:
pass_read = school_data_complete.loc[school_data_complete["reading_score"]>=70]
pass_read_percent = (pass_read["reading_score"].count()/total_students)*100
pass_read_percent

85.80546336482001

In [129]:
overall_pass = (pass_math["math_score"].count() + pass_read["reading_score"].count())/2
overall_pass_percent = (overall_pass/total_students)*100
overall_pass_percent

80.3931580291039

In [134]:
#create Distict Summary Table
dist_summary = pd.DataFrame({
    "Total Schools": len(total_schools),
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Per Student Budget": [budget_stu],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_read],
    "% Passing Math": [pass_math_percent],
    "% Passing Reading": [pass_read_percent],
    "% Overall Passing Rate": [overall_pass_percent]
})
dist_summary

,Total Schools,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,629.293541,78.985371,81.87784,74.980853,85.805463,80.393158

In [155]:
sch_name = school_data_complete.groupby("school_name")["school_name"]
#sch_group = school_data_complete.groupby(["school_name"])
#sch_name = sch_group["school_name"].unique()
sch_name

TypeError: 'SeriesGroupBy' object is not callable

In [6]:

sch_type = sch_group["type"].unique()
sch_type

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [147]:
stu_sch = school_data_complete.groupby("school_name")["student_name"].count()

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [77]:
budget_sch = sch_group["budget"].max()
budget_sch

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [88]:
budget_stu = budget_sch/stu_sch
budget_stu

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [90]:
avg_math_sch = sch_group["math_score"].mean()
avg_math_sch

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [91]:
avg_read_sch = sch_group["reading_score"].mean()
avg_read_sch

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [93]:
#calculate percent passing math
pass_math = school_data_complete.loc[school_data_complete["math_score"]>=70]
pass_mathsch = pass_math.groupby(["school_name"])
passmath_schpercent = (pass_mathsch["math_score"].count()/stu_sch)*100
passmath_schpercent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [94]:
#calculate percent passing reading
pass_read = school_data_complete.loc[school_data_complete["reading_score"]>=70]
pass_readsch = pass_read.groupby(["school_name"])
passread_schpercent = (pass_readsch["reading_score"].count()/stu_sch)*100
passread_schpercent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [95]:
#calculate overall passing rate by school
overallpass_sch = (passmath_schpercent + passread_schpercent)/2
overallpass_sch

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [153]:
#I had some issues creating this dataframe. I seem to be calculating the right values, but not in the right way - I think 
#there is an issue with how I'm grouping. I'm going to check in with a TA to see what I'm doing wrong because I really tried to figure this out. Consequently, I couldn't do the sorting & binning parts of the assignment.

sch_summary = pd.DataFrame({
    "School Name": [sch_name],
    "School Type": [sch_type],
    "Total Students": [stu_sch],
    "Total School Budget": [budget_sch],
    "Per Student Budget": [budget_stu],
    "Average Math Score": [avg_math_sch],
    "Average Reading Score": [avg_read_sch],
    "% Passing Math": [passmath_schpercent],
    "% Passing Reading": [passread_schpercent],
    "% Overall Passing Rate": [overallpass_sch]
})
sch_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Bailey High School [Baile...,school_name Bailey High School [District...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928 C...,629.293541,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 74.306672...

In [ ]:
#find top performing schools

In [74]:
#Math Score by Grade

ninth_math = school_data_complete[school_data_complete["grade"] == "9th"]
ninth_math_sch = ninth_math.groupby(["school_name"])
ninth_mathschavg = ninth_math_sch["math_score"].mean()
ninth_mathschavg

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [52]:
tenth_math = school_data_complete[school_data_complete["grade"] == "10th"]
tenth_math_sch = tenth_math.groupby(["school_name"])
tenth_mathschavg = tenth_math_sch["math_score"].mean()
tenth_mathschavg

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [53]:
elevth_math = school_data_complete[school_data_complete["grade"] == "11th"]
elevth_math_sch = elevth_math.groupby(["school_name"])
elevth_mathschavg = elevth_math_sch["math_score"].mean()
elevth_mathschavg

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [54]:
#yes, I know its more efficient to define a function for this but I like the repetition
twelth_math = school_data_complete[school_data_complete["grade"] == "12th"]
twelth_math_sch = twelth_math.groupby(["school_name"])
twelth_mathschavg = twelth_math_sch["math_score"].mean()
twelth_mathschavg

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [58]:
#creating dataframe for average math scores by school 
math_by_grade = pd.DataFrame({
                            "9th": [ninth_mathschavg],
                            "10th": [tenth_mathschavg],
                             "11th": [elevth_mathschavg],
                            "12th": [twelth_mathschavg],
})
math_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...

In [156]:
#Reading Scores by Grade
ninth_read = school_data_complete[school_data_complete["grade"] == "9th"]
ninth_read_sch = ninth_math.groupby(["school_name"])
ninth_readschavg = ninth_read_sch["reading_score"].mean()
ninth_readschavg

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [157]:
tenth_read = school_data_complete[school_data_complete["grade"] == "10th"]
tenth_read_sch = tenth_math.groupby(["school_name"])
tenth_readschavg = tenth_read_sch["reading_score"].mean()
tenth_readschavg

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [160]:
elevth_read = school_data_complete[school_data_complete["grade"] == "11th"]
elevth_read_sch = elevth_math.groupby(["school_name"])
elevth_readschavg = elevth_read_sch["reading_score"].mean()
elevth_readschavg

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [161]:
twelth_read = school_data_complete[school_data_complete["grade"] == "12th"]
twelth_read_sch = twelth_math.groupby(["school_name"])
twelth_readschavg = twelth_read_sch["reading_score"].mean()
twelth_readschavg

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [162]:
#creating dataframe for average reading scores by school - I had the same issues creating the dataframe to display correctly as above. 
read_by_grade = pd.DataFrame({
                            "9th": [ninth_readschavg],
                            "10th": [tenth_readschavg],
                             "11th": [elevth_readschavg],
                            "12th": [twelth_readschavg],
})
math_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...